name: Lint
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.x
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          args: --timeout 5m0s --verbose
