on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
name: Test
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Start docker services
        run: |
          cd fs/testdata
          docker compose up -d

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.x

      - name: test
        run: make test
